body {
    margin: 0px;
    background-color: #282a36;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
}

input {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #8be9fd;
}

.window {
    display: flex;
    flex-direction: column;
}


.content {
    display: flex;
}

.title-bar {
    margin: 0.5em 0;
    text-align: center;
    font-size: 2.5em;
    background-color: #003459;
}

.sidebar {
    min-height: 0;
    flex: 0 0 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #00171F;
    overflow: hidden;
}

.sidebar-heading {
    text-align: center;
    margin-top: 25px
}

.sidebar-header {
    text-align: center;
    font-size: 2em;
    margin: 0.5em;
}

.sidebar-content {
    text-align: center;
    margin-top: 15px;
}

.sidebar-text {
    padding: 0px 10px;
}

.example {
    text-align: center;
}

.credits {
    text-align: center;
}

.textbox {
    width: 96%;
    padding: 10px 2%;
    border: none;
    outline: none;
}

.textbox-label {
    text-align: center;
    margin: 10px 10px;
}

.tabs {
    margin-top: 20px;
    display: flex;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
}

.active-tab {
    background-color: #00A8E8
}

.inactive-tab {
    transition: 0.2s;
    background-color: #004D66;
}

.inactive-tab:hover {
    background-color: #00A8E8
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

.error {
    padding: 10px 0px;
    background-color: darkred;
}

.credit {
    font-style: italic;
}

button {
    border: none;
    outline: none;
    padding: 10px;
    margin: 0px 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #bd93f9;
}

.stage {
    display: flex;
    flex-direction: column;
}

.top-bar {
    background-color: #003459;
    font-size: 40px;
    height: 50px;
    padding: 10px;
    width: calc(100vw - 420px);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 20px;
}

.subtop-bar {
    background-color: #227DAA;
    font-size: 15px;
    height: 25px;
    padding: 10px;
    width: calc(100vw - 420px);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.bottom-bar {
    height: 15px;
}

.graph {
    flex: 1;
    background-color: #9c9c9c
}

.main-stage {
    display: flex;
}

.facts {
    width: 350px;
    background-color: #00171F;
    font-family: 'Roboto Mono', monospace;
    overflow-y: auto;
}

.fact {
    display: flex;
    font-size: 1.5em;
    margin: 10px;

}

.fact-text {
    flex: 1;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
}

.fact-symbol {
    text-align: left;
}

.stats {
    margin: 0px 10px;
}

.properties {
    display: flex;
}

.property {
    text-align: center;
    flex: 1;
    font-size: 1.5em;
    margin: 10px 0px;
}

.yes {
    color: greenyellow;
}

.no {
    color: red;
    text-decoration: line-through;
}

.betas-header {
    display: flex;
    font-size: 1.5em;
    margin: 0px 20px;
}

.icon {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.beta-text {
    margin-left: 11px;
}

.redexes {
    max-height: 300px;
    overflow-y: auto;
}

.redex {
    padding: 5px 0;
    text-align: center;
    font-size: 1.25em;
}

.highlighted-redex {
    font-weight: bold;
}