body {
    font-family: 'Lato', sans-serif;
}
#cy {
    width: 750px;
    height: 750px;
    display: block;
}
body {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
    font-weight: 'black';
}

ul {
    margin-top: 5px;
    margin-bottom: 10px;
}

.portrait {
    height: 100%;
    width: 100%;
    border-style:solid; 
    border-color: black;
    display: inline-block;
}
.frame {
    text-align: left;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    vertical-align: text-top;
    width: 250px;
}
.empty {
    height: 100px;
}
.inner-frame {
    width: 250px;
    height: 250px;
}
.big-frame {
    width: 750px;
    height: 95vh;
    display: block;
    padding: 0px;
}
.full-frame {
    width: 97vw;
    height: 90vh;
    display: block;
    padding: 0px;
}
.graph-frame {
    width: 1000px;
    height: 95vh;
    display: block;
    padding: 0px;
}
.caption {
    font-size: 200%;
    margin-top: 0;
}
table,td{
    padding-left: 5px;
    vertical-align: top;
}
.term-heading{
    font-size: 48px;
}
.term-subheading{
    font-size: 36px;
}
.term-fact{
    font-size: 24px;
}
.border-top{
    border-top: 1px solid #000;
}
.number-box{
    width: 25px;
}